<section layout:decorate="~{base}" layout:fragment="content" class="assignments">
  	<h2 class="center" th:text="${assignment.name}"></h2>
    <div class="row submission-row">
      <div class="col m6 s12 uploadcard">
          <h4 class="center">Submit Here</h4>
          <form method="POST" action="/assignment/submit" enctype="multipart/form-data">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file" class="file" name="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            </button>
        </form>
      </div>
      <div class="col m6 s12 assignment-info">
            <ul class="collapsible" data-collapsible="accordion" th:if="${not #lists.isEmpty(results)}">
              <li th:each="result : results">
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
            </ul>
            <div th:if="${#lists.isEmpty(results)}">
              <p class="center-align" >You haven't submitted anything to the Autograder for this assignment.</p>
            </div>
      </div>
    </div>
</section>

