<section layout:decorate="~{base}" layout:fragment="content" class="labs">
    <div class="form-wrapper valign-wrapper">
      <div class="card-panel lab">
        <h4 class="center" th:text="${title}">Title</h4>
        <div class="score-box card-panel">
          <h5>
            Current score: <span id="score" th:text="${score}">0</span>
          </h5>
        </div>
        <p class="center" th:text="${description}">Description</p>
        <div class="login-form.valign">
          <div class="input-field">
            <input class="password" id="password" type="text" name="password">
          </div>
          <div class="input-field">
            <button class="submit btn btn-red waves-effect" id="submit" lab="lab" th:attr="disabled=${disabled}">Submit</button>
          </div>
          <div class="below-button">
            <div class="progress hide">
              <div class="indeterminate"></div>
            </div>
          </div>
          <h5 id="message-anchor" th:text="${message}">Have fun!</h5>
        </div>
      </div>
    </div>
</section>

